# Build and Release Folders
bin-debug/
imagens/
adm/Imagens_produto/

# Other files and folders
*.log
!example.log
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
